<h5>Hi {{userID}}</h5>

<label for="foodCategory">Choose a Foodcategory:</label><br>
<select name="foodCategories" id="foodCategory" (change)="changeFoodCategory($event)">
  <option *ngFor="let foodCategory of foodCategoryFilterItem" value="{{foodCategory.value}}">{{ foodCategory.key }}</option>
</select><br>


<div *ngIf="foods">

<label for="nutritions">Filter a Nutrition:</label><br>
<select name="nutritions" id="nutritions" (change)="changeNutrition($event)">
  <option *ngFor="let nutrition of nutritionFilterItem" value="{{nutrition.value}}">{{ nutrition.key }}</option>
</select><br>

<label for="restaurantCategories">Filter a Restaturant Category:</label><br>
<select name="restaurantCategories" id="restaurantCategories" (change)="changeRestCat($event)">
  <option *ngFor="let restaurantCategory of restaurantCategoryFilterItem" value="{{restaurantCategory.value}}">{{ restaurantCategory.key }}</option>
</select>


<br><br>

{{ foods | json}}
  <div class="row">
      <app-food-card *ngFor="let foodItem of foods.F" [food]="foodItem" [restaurant]="getRestaturantforFoodID(foodItem.FI)"></app-food-card>
  </div>
</div>



